<footer class="bg-white fixed bottom-0 left-0 right-0 border-t border-gray-300">
    <div class="mx-auto max-w-screen-xl pb-4">
        <div>
            <p class="mt-4 text-center text-sm text-gray-500">
                Copyright &copy; 2025 by <span class="font-semibold">Framma Williansyah Akbar</span>
            </p>
        </div>
    </div>
</footer>